%ul.pagination.clearfix
  - max_num = Log.where(:environment => params[:environment]).count/10
  - max_num.times do |i|
    %li
      %a{:href => "/#{params[:environment]}/#{params[:page] = i + 1}"} #{i+1}