%header
  %a.logo{:href => "/"} 

%div.main
  %div.inner.clearfix
    %nav.sidebar
      %ul
        %li.even
          %a{:href => "production"}
        %li.odd
          %a{:href => "staging"}
    %article.content
      %div.inner
        / # %h1= params[:environment]
        - @result.logs.each do |log|
          %div
            %form.checkbox(action="/checked" method="post")
              %input(type="checkbox" name="checkbox")
              %span              
            %p.timestamp= log.timestamp
            %pre.entry= log.entry
            %form.issue(action="/issue" method="post")              
              %input(type="text" name="title")
              %input(type="text" name="body" value="#{log.entry}" class="hidden")
              %input.submit(type="submit" value="Post an Issue")
        = paginate @result
    