%h1
  %a(href="/" title="TOP")
%p  
  = @logs.length
  Logs are stored
  %ul
    %li
      %a(href="/production" title="PRODUCTION LOGS") PRODUCTION LOGS
    %li
      %a(href="/staging" title="STAGING LOGS") STAGING LOGS
