!!!
%html
  %head    
    %title Sample App
    %link{ :rel => "stylesheet", :href =>"../css/style.css" }
    %link{ :rel => "stylesheet", :href =>"http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css" }
  %body
    != yield